{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "^@(atoms|molecules|templates|organisms|pages)/(.*)$": "./app/src/components/\\1/\\2/\\2",
        "^@(atoms|molecules|templates|organisms|pages)$": "./app/src/components/\\1",
        "^@components/(.*)$": "./app/src/components/\\1",
        "^@src/(.*)$": "./app/src/\\1",
        "^@(reducers|actions|constants)/(.*)$": "./app/src/redux/\\1/\\2",
        "^@i18n": "./app/src/i18n",
        "^@messages/(.*)$": "./app/src/i18n/messages/\\1",
        "^@theme/(.*)$": "./app/src/theme/\\1",
        "@validators": "./app/src/validators"
      }
    }]
  ]
}
